.topsection{
    display: grid;
    width: auto;
    height: 480px;
    background-color: #e1eae9;
}

.backgroundimg{
    position: absolute;
    height: 480px;
    width: 66.75%;
    opacity: 0.2;
    left: 500px; 
    z-index:1; 
}

.toplogos{
    display: flex;
    gap: 10px;
    position: relative;
    top: 40px;
    left: 50px;
    height: 100px;
}

.highlight{
    color: green;
}


.tagline{
    color: #7aa6a0;
}

.content{
    position: relative;
    top: 700px;
}

.h1{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    top: 50px;
    left: 50px;
    width: 100%;
    font-size: 30px;
}

.supported{
    text-align: center;
    color: #7aa6a0;
}

.content{
    position: relative;
    top: 200px;
    left: 50px;
    width: 92%;
}

.support-logos{
    display: flex;
    position: relative;
    gap: 30px;
    justify-content: center;
    top: 50px;
    left: 20px;
    height: 70px;
}

.rightsection{
    display: grid;
    color: #7aa6a0;
    text-align: center;
    position: relative;
    top: 600px;
    left: 20px;
    height: 100px;
}

.partnerlogos{
    display: grid;
    gap: 50px;
    justify-content: center;
}

.pt1{
    /* display: flex;
    gap: 80px;
    justify-content: center;
    top: 50px;
    left: 20px;
    font-size: 40px;
    height: 100px; */

    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 40px;
    height: 50px;
}

.pt2{
    /* display: flex;
    gap: 58px;
    border-right: 2px solid black;
    justify-content: center;
    top: 50px;
    left: 20px;
    font-size: 40px;
    height: 100px; */

    display: flex;
    gap: 40px;
    justify-content: center;
    font-size:xx-large;
    left: 100px;
    height: 50px;

}